<footer class="mainFooter">

  <figure class="footerLogo">
    <img class="footerLogo__img footerLogo__img--desktop" src="{{ logo_small }}">
    <img class="footerLogo__img footerLogo__img--mobile" src="{{ logo_big_vertical }}">
  </figure>

  <section class="contactInfo">
    <article class="contactInfo__telephone contactInfo__item">
      <img src="{{ phone_icon }}" width="20" alt="Telephone">
      <a class="contactInfo__text" href="tel:+4790692212">(+47) 906 92 212</a>
    </article>

    <article class="contactInfo__address contactInfo__item">
      <img src="{{ map_icon }}" width="20" alt="Map pinpoint">
      <a class="contactInfo__text" href="https://goo.gl/maps/s1QosrQ2RnLHV7qU6">Klosterveien 41, 7100 Rissa</a>
    </article>

    <article class="contactInfo__email contactInfo__item">
      <img src="{{ mail_icon }}" width="25" alt="Envelope">
      <a class="contactInfo__text" href="mailto:post@jensenblikkas.no">post@jensenblikkas.no</a>
    </article>

    <article class="contactInfo__facebook contactInfo__item">
      <img src="{{ facebook_icon }}" width="15" alt="facebook logo">
      <a class="contactInfo__text" href="https://www.facebook.com/jensenblikk">@jensenblikk</a>
    </article>
  </section>

  <section class="certificates">
    <img class="certificates__img" width="50" src="{{ mestermerke_icon }}">
    <img class="certificates__img" width="50" src="{{ sentraltgodkjent_icon }}">
  </section>

</footer>



{{ function('wp_footer') }}
</body>
</html>