{% if fn('is_front_page') %}
<header class="subheader">

  <figure class="headerLogo headerLogo--blue headerLogo--row {{ (fn('is_front_page')) ? '' : 'headerLogo--invisible' }}">
    <a href="{{ site.link }}"><img class="headerLogo__img--desktop" src="{{ logo_big_horizontal }}" alt="Jensen Blikk logo"></a>
    <a href="{{ site.link }}"><img class="headerLogo__img--mobile" src="{{ logo_big_vertical }}" alt="Jensen Blikk logo"></a>
  </figure>

  <ul class="fpNav">
    {% for item in nav.get_items %}
      {% if item.title != "Hjem" %}
      <li class="fpNav__item {{ item.classes|join(' ') }}">
        <a class="fpNav__link" href="{{ item.link }}">{{ item.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</header>
{% endif %}

