<section class="hero" style="background-image: url('{{ bg_path }}');">
  <img class="hero__icon" src="https://via.placeholder.com/90x50">

  <div class="hero__container">
    <p class="hero__text">
      Vi er en håndverksbasert mesterbedrift. Vi har levert trøndelags beste blikkenslagerargbeid i 20 år
    </p>
  </div>
  <nav>
    <a class="btnTrans btnTrans--white"
      href="{{ flex_row.first_button.url }}">{{ flex_row.first_button.title }}</a>
    <a class="btnTrans btnTrans--white"
      href="{{ flex_row.second_button.url }}">{{ flex_row.second_button.title }}</a>
  </nav>
</section>